<h1>Bentornato!</h1>


<div class="card-atleta">

  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Modifica dati personali</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Nuovo abbonamento???</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Visualizza abbonamento attivo</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Consulta scheda di allenamento personale</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Nuova prenotazione lezione</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="create()">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Visualizza e gestisci prenotazioni lezioni</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


</div>
