<h1>Bentornato!</h1>


<div class="card-atleta">

  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Registra nuovo personal trainer</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="create_pt()">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Gestisci personal trainers</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Visualizza e gestisci atleti</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Crea nuovo corso</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="create_c()">Scegli</button>
    </mat-card-actions>
  </mat-card>


  <mat-card class="card-specifica">
    <mat-card-header>
      <mat-card-title>Gestisci corsi</mat-card-title>
      <mat-card-subtitle>29€ al mese</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Accesso illimitato a tutte le sale e attrezzature, dal lunedì al sabato.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Scegli</button>
    </mat-card-actions>
  </mat-card>


</div>

